<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    🫣 codeial
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                    <li>
                        <a href="/users/profile/<%= user.id %>"><img src="<%= user.avatar %>" alt="<%= user.name %>" width="100"></a>
                    </li>
                <li style="padding-top: 10px;">
                    <a href="/users/profile/<%= user.id %>">  <%= user.name %></a>
                </li>
                <li style="padding-top: 10px;">
                    <a href="/users/sign-out">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
 
</header>